@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');
@font-face {
    font-family: RingBearer;
    src: url('./RingbearerMedium-51mgZ.ttf');
}

:root{
    --color-background: #f8e8b5;
    --color-black: #010101;
    --color-dark-blue: #22353f;
    --color-dark-tint: #01010162;
    --color-highlight: #eb9866;
    --color-footer: #386677;
    --color-white: #fdfaf1;
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body{
    background-color: var(--color-background);
    color: var(--color-black);
    font-family: 'RingBearer';
    font-size: 1rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

header h1{
    text-shadow: 5px 5px 0 var(--color-highlight);
}

nav{
    margin: 20px auto;
    font-size: 1rem;
    max-width: 500px;
}

nav button{
    color: currentColor;
    border: none;
    background-color: transparent;
    padding: 10px 50px;
    font-weight: 700;
}

nav button:hover{
    background-color: var(--color-highlight);
}

.flex-col{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-row{
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
}

q{
    font-family: "Bilbo", cursive;
    font-size: 1.5em;
}

.smaller-font{
    font-size: 0.75em;
}

.flex-row img{
    height: 100%;
    min-width: 30%;
    object-fit: cover;
}

.cuisine-panel{
    padding: 0 200px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.cuisine-panel img{
    width: 100%;
    object-fit: contain;
}

.side-text{
    padding: 50px;
    color: currentColor;
    font-size: 3.5rem;
    font-weight: 700;
    flex: auto;
    text-align: center;
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transition: translateY(0px);
    }
}

.down-icon{
    position: sticky;
    width: 80px;
    bottom: 50px;
    animation: floating 1s ease-in-out infinite;
}

.down-icon:hover{
    animation: none;
}

.down-icon:hover svg{
    fill: var(--color-highlight);
}

#content .restaurant-img{
    z-index: -1;
    position: relative;
    background-image: url('../../global_resources/shire.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -300px;
    background-size: 1200px;
    height: 750px;
    width: 100%;
}

.wide-container{
    position: relative;
    width: 100%;
    height: 650px;
}

.wide-container > img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.captions{
    position: absolute;
    width: 100%;
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 700;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 0 var(--color-highlight);
    text-align: center;
}

p{
    max-inline-size: 66ch;
    line-height: 2;
}

.food-menu, .drink-menu{
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 50px;
}

.food-menu{
    background-color: var(--color-background);
    border-left: 5px solid var(--color-highlight);
    border-right: 5px solid var(--color-highlight);
    border-radius: 5px;
}

.drink-menu-background{
    margin: 25px 0;
    padding: 25px 0;
    background-image: url(../../global_resources/eye_sauron.gif);
    background-position: center;
    background-size: 38%;
}

.drink-menu{
    background-color: var(--color-black);
    border-left: 5px solid var(--color-white);
    border-right: 5px solid var(--color-white);
    border-radius: 5px;
    color: var(--color-white);
}

.food-menu .title-card h4,.drink-menu .title-card h4{
    font-size: 2rem;
}

.food-menu .title-card h5{
    font-size: 0.8rem;
    font-weight: 500;
}

.food-card{
    padding: 10px 20px;
    border-radius: 5px;
}

.drink-card{
    padding: 20px 80px;
    border-radius: 5px;
}

.food-card:hover{
    background-color: var(--color-highlight);
}

.drink-card:hover{
    background-color: var(--color-dark-blue);
}

.food-card .title, .drink-card .title{
    font-weight: 700;
}

.food-card .description{
    font-size: 1.6rem;
    font-family: "Bilbo", cursive;
}

.food-card .availability{
    font-size: 0.8rem;
}

.location-info{
    width: 100%;
    padding: 50px 250px;
    display: flex;
    justify-content: center;
}

.location-info .text-info{
    /* background-color: red; */
    width: 500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.location-info .text-info section{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.4rem;
    max-inline-size: 33ch;
    font-weight: 700;
    color: var(--color-dark-blue);
}
.location-info .text-info section svg{
    fill: var(--color-footer);
}

.location-info .text-info table{
    border-spacing: 60px 5px;
    font-size: 1.4rem;
    color: var(--color-footer);
}

.map-container{
    border: 4px solid var(--color-highlight);
    width: 800px;
    min-width: 400px;
}

.reservation-container{
    background-image: url(../../global_resources/gandalf_sitting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 750px;
    width: 100%;
    margin-bottom: 45px;
    position: relative;
}

.reservation-container section{
    position: absolute;
    top: 20%;
    left: 20%;
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 4px 4px 0 var(--color-footer);
    width: max-content;
}

#reservation-button{
    position: absolute;
    padding: 8px 50px;
    top: 60%;
    left: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    border: 4px solid var(--color-dark-blue);
    background-color: var(--color-footer);
    color: var(--color-black);
    border-radius: 8px;
    transition: 0.1s ease;
}

#reservation-button:hover{
    color: var(--color-white);
    background-color: var(--color-highlight);
    border-color: var(--color-background);
    box-shadow: 0 0 10px var(--color-white);
}

#reservation-dialog, #credits-dialog{
    margin: auto;
    max-width: 800px;
    min-width: 400px;
    width: auto;
    padding: 30px;
}

#reservation-dialog{
    background-color: var(--color-white);
    border-color: var(--color-dark-blue);
}

#credits-dialog{
    background-color: var(--color-black);
    border-color: transparent;
    color: var(--color-white);
}

#close-credits-button{
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

#close-credits-button svg{
    fill: var(--color-white);
}

#close-credits-button:hover{
    background-color: var(--color-dark-blue);
}

#credits-dialog table{
    margin: 0 auto;
    width: 500px;
    border-spacing: 0px 10px;
}

#credits-dialog table caption{
    padding: 20px;
}

#credits-dialog img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

#credits-dialog a{
    color: var(--color-white);
    font-size: 1.25rem;
    text-align: right;
    text-decoration: none;
}

#credits-dialog a:hover{
    font-weight: 700;
}

#reservation-dialog::backdrop, #credits-dialog::backdrop{
    background-color: var(--color-dark-tint);
}

#reservation-dialog h2{
    text-align: center;
}

#close-form-button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    border: none;
    background: transparent;
}

#close-form-button:hover svg{
    fill: var(--color-footer);
}

#reservation-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
}

#reservation-form label{
    padding: 5px 10px;
    font-weight: 700;
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: 5px;
}

#reservation-form label svg{
    width: 25px;
}

#reservation-form input, #reservation-form select, #reservation-form textarea{
    padding: 5px 8px;
    border: 2px solid var(--color-dark-tint);
    color: var(--color-dark-blue);
    flex: auto;
}

.form-long-div, .form-half-div, .form-quarter-div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.form-long-div{
    grid-column: span 4;
}

.form-half-div{
    grid-column: span 2;
}

#reservation-form button{
    padding: 10px 40px;
    background-color: var(--color-highlight);
    border: none;
    color: var(--color-white);
    transition: 0.1s;
}

#reservation-form button:hover{
    box-shadow: 0 0 10px var(--color-highlight);
}


footer{
    background-color: var(--color-footer);
    color: var(--color-white);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

footer a{
    color: currentColor;
    text-decoration: none;
}

footer a:hover{
    color: var(--color-highlight);
}

#footer-left, #footer-right{
    background-repeat: no-repeat;
    background-size: contain;
    width: 337px;
    height: 450px;
    position: absolute;
    bottom: -25px;
}

#footer-left{
    background-image: url(../../global_resources/argonath_left.png);
    background-position: left;
    left: 0;
}

#footer-right{
    background-image: url(../../global_resources/argonath_right.png);
    background-position: right;
    right: 0;
}

#footer-middle{
    flex: auto;
    align-self: flex-end;
}


